.idea/
.vscode/

*.egg-info/
*.pyc
*\.bak
\.fuse*
.coverage
.DS_Store
*__pycache__
reqs.txt

docs/_build/
docs/site
dist/
build/
htmlcov/

.tox/
node_modules

dependency-graphs/
test-results/
uml-diagrams/
pydoer-graphs/

src/ili2py/generated
generated
test.puml
src/ili2py/test.py
uml/
