.idea/
.vscode/

*.egg-info/
*.pyc
*\.bak
\.fuse*
.coverage
.DS_Store
*__pycache__
reqs.txt

docs/_build/
docs/site
dist/
build/
htmlcov/

ili2py.spec

.tox/
node_modules

dependency-graphs/
test-results/
uml-diagrams/
pydoer-graphs/

src/ili2py/generated
generated
test.puml
src/ili2py/test.py
src/ili2py/test1.py
.generated/*
!.generated/.gitkeep

tests/data/*/*.py
tests/data/models/*/*.xtf
tests/data/models/*/*.xml
