{% for class_item in model_data.classes %}
{% if class_item.element_in_package.ref == topic_item.tid and class_item.kind == "Class" %}
@dataclass(kw_only=True)
class {{ class_item.name }}Class:
    """
{% for doc_item in class_item.documentation %}
{% with doc_item=doc_item.doc_text %}{% include 'documentation.jinja2' %}{%- endwith %}{%- endfor %}
    Attributes:
{% for attr_or_param_item in model_data.attr_or_param %}{% if attr_or_param_item.attr_parent.ref == class_item.tid %}
{% for type_item in model_data.text_types %}{% if type_item.tid == attr_or_param_item.type.ref %}{% with attr_or_param_item=attr_or_param_item, type_item=type_item, type_str='str' %}{% include 'attr_documentation.jinja2' %}{% endwith %}{% endif %}{% endfor %}{% for type_item in model_data.num_types %}{% if type_item.tid == attr_or_param_item.type.ref %}{% with attr_or_param_item=attr_or_param_item, type_item=type_item, type_str='int' %}{% include 'attr_documentation.jinja2' %}{%- endwith %}{%- endif %}{%- endfor %}{%- endif %}{%- endfor %}
    """

    tid: Optional[str] = field(
        default=None,
        metadata={
            "name": "TID",
            "type": "Attribute"
        }
    )
    {% for attr_or_param_item in model_data.attr_or_param %}
    {% if attr_or_param_item.attr_parent.ref == class_item.tid %}
    {% for type_item in model_data.text_types %}
    {% if type_item.tid == attr_or_param_item.type.ref %}
    {% with type_item=type_item, attr_or_param_item=attr_or_param_item, model_data=model_data, all_model_data=all_model_data %}
    {% include 'text_attribute.jinja2' %}{%- endwith %}{%- endif %}{%- endfor %}
    {% for type_item in model_data.num_types %}
    {% if type_item.tid == attr_or_param_item.type.ref %}
    {% with type_item=type_item, attr_or_param_item=attr_or_param_item, model_data=model_data, all_model_data=all_model_data %}
    {% include 'numeric_attribute.jinja2' %}{%- endwith %}{%- endif %}{%- endfor %}
    {%- endif %}{%- endfor %}
{%- endif %}{%- endfor %}


@dataclass(kw_only=True)
class {{ topic_item.name }}Topic:
    bid: str = field(
        metadata={
            "name": "BID",
            "type": "Attribute"
        }
    )
{% for class_item in model_data.classes %}
{% if class_item.element_in_package.ref == topic_item.tid and class_item.kind == "Class" %}
    {{ class_item.name.lower() }}: List[{{ class_item.name }}Class] = field(
        default_factory=list,
        metadata={
            "name": "{{ class_item.tid }}",
            "type": "Element",
            "default": None
        }
    )
{% endif %}
{% endfor %}
