{{ attr_or_param_item.name.lower() }}: {% if type_item.mandatory %}str{% else %}Optional[str]{% endif %} = field(
        {% if not type_item.mandatory %}default=None,{% endif %}
        metadata={
            "name": "{{ attr_or_param_item.name }}",
            "type": "Element",
            "required": {{ type_item.mandatory }}
        }
    )