{%- for class_definition in classes %}

@dataclass
{%- if class_definition.super_class %}
class {{ class_definition.name }}({{ class_definition.super_class }}):
{%- elif class_definition.abstract %}
class {{ class_definition.name }}(ABC):
{%- else %}
class {{ class_definition.name }}:
{%- endif %}

    class Meta:
        namespace = "{{ render_config['base_url'] }}/{{ package.name }}"

    {%- if class_definition.doc %}
    """
    {{ " ".join(class_definition.doc) }}
    {% if class_definition.attributes %}
    Args:
    {%- for attribute in class_definition.attributes %}
        {{ attribute.name }}: {{ " ".join(attribute.doc) }}
    {%- endfor %}
    {%- endif %}
    """
    {%- endif -%}


{%- for attribute in class_definition.attributes %}
{%- if attribute.enumeration %}
    {%- set enumerations=[attribute.enumeration] %}
    {%- macro render_enumerations() %}{% include "enumerations.jinja2" %}{% endmacro %}
    {{ render_enumerations() | indent(4, true) }}
{%- endif %}
{%- if attribute.line_type %}
    {%- set line_types=[attribute.line_type] %}
    {%- macro render_line_types() %}{% include "line_types.jinja2" %}{% endmacro %}
    {{ render_line_types() | indent(4, true) }}
{%- endif %}
{%- if attribute.type_related_type_class %}
    {%- set classes=[attribute.type_related_type_class] %}
    {%- macro render_type_related_classes() %}{% include "classes.jinja2" %}{% endmacro %}
    {{ render_type_related_classes() | indent(4, true) }}
{%- endif %}
{%- endfor %}
{%-if class_definition.oid  %}
    {{ class_definition.oid.name }}: "{{ class_definition.oid.types|join(' | ') }} | None" = field(
        default=None,
        metadata={
            "type": "Attribute",
            "namespace": "{{ render_config['namespace_map']['ili'] }}",
            "name": "tid",
            "interlis": {
                "meta_attributes": {},
                "type_restrictions": {{ class_definition.oid.type_restrictions }}
            }
        }
    )
{%- else %}
{%- if class_definition.kind == 'Class' and not class_definition.oid %}
    tid: str | None = field(
        default=None,
        metadata={
            "type": "Attribute",
            "namespace": "{{ render_config['namespace_map']['ili'] }}",
            "name": "tid",
            "interlis": {
                "meta_attributes": {},
                "type_restrictions": None
            }
        }
    )
{%- endif %}
{%- endif %}
{% for attribute in class_definition.attributes %}
    {{ attribute.name }}: "{% if attribute.is_list_type %}list[{{ attribute.types|join(" | ") }}]{% else %}{{ attribute.types|join(" | ") }} | None{% endif %}" = field(
        {%- if attribute.is_list_type %}
        default_factory=list,
        {%- else %}
        default=None,
        {%- endif %}
        metadata={
            "type": "Element",
            "namespace": "{{ render_config['base_url'] }}/{{ attribute.namespace_package }}",
            {%- if attribute.type_restrictions['type_related_type'] %}
            "name": "{{ attribute.identifier.split('.')[-1] }}",
            {%- endif %}
            "interlis": {
                "oid": "{{ attribute.identifier }}",
                {%- if attribute.reference_targets %}
                "reference_targets": {{ attribute.reference_targets }},
                {%- endif %}
                "meta_attributes": {
                    {%- for item in attribute.meta_attributes %}
                        "{{ item.name }}": "{{ item.value }}",
                    {%- endfor %}
                },
                "type_restrictions": {{ attribute.type_restrictions }}
            }
        }
    )
{%- endfor %}

    @property
    def metadata(self) -> dict:
        return {
            "interlis": {
                "oid": "{{ class_definition.identifier }}",
                "kind": "{{ class_definition.kind }}",
                "meta_attributes": {
                    {%- for item in class_definition.meta_attributes %}
                        "{{ item.name }}": "{{ item.value }}",
                    {%- endfor %}
                }
            }
        }

    @property
    def existence_constraints(self) -> list:
        """
        Delivers the existence constraints applying to this object.

        Returns:
            The list of constraints as dict. They can be deserialized with the
            corresponding classes.
        """
        return {{ class_definition['existence_constraints'] }}
    @property
    def set_constraints(self) -> list:
        """
        Delivers the set constraints applying to this object.

        Returns:
            The list of constraints as dict. They can be deserialized with the
            corresponding classes.
        """
        return {{ class_definition['set_constraints'] }}
    @property
    def simple_constraints(self) -> list:
        """
        Delivers the simple constraints applying to this object.

        Returns:
            The list of constraints as dict. They can be deserialized with the
            corresponding classes.
        """
        return {{ class_definition['simple_constraints'] }}
    @property
    def unique_constraints(self) -> list:
        """
        Delivers the unique constraints applying to this object.

        Returns:
            The list of constraints as dict. They can be deserialized with the
            corresponding classes.
        """
        return {{ class_definition['unique_constraints'] }}
    @property
    def geom_point_like_attribute_values(self) -> list[Tuple[str, Any]]:
        """
        Gives back a list of tuples which contain the name of the attribute and
        the corresponding value for point like geometries.

        Returns:
            Tuple, first element is the attribute name, second the geometry value.
        """
        return [
        {%- for attribute in class_definition.geom_point_like_attributes %}
            ("{{ attribute.name }}", self.{{ attribute.name }}){% if not loop.last %},{% endif %}
        {%- endfor %}
        ]
    @property
    def geom_line_like_attribute_values(self) -> list[Tuple[str, Any]]:
        """
        Gives back a list of tuples which contain the name of the attribute and
        the corresponding value for line like geometries.

        Returns:
            Tuple, first element is the attribute name, second the geometry value.
        """
        return [
        {%- for attribute in class_definition.geom_line_like_attributes %}
            ("{{ attribute.name }}", self.{{ attribute.name }}){% if not loop.last %},{% endif %}
        {%- endfor %}
        ]
    @property
    def geom_polygon_like_attribute_values(self) -> list[Tuple[str, Any]]:
        """
        Gives back a list of tuples which contain the name of the attribute and
        the corresponding value for polygon like geometries.

        Returns:
            Tuple, first element is the attribute name, second the geometry value.
        """
        return [
        {%- for attribute in class_definition.geom_polygon_like_attributes %}
            ("{{ attribute.name }}", self.{{ attribute.name }}){% if not loop.last %},{% endif %}
        {%- endfor %}
        ]
    @property
    def geom_attributes(self) -> list[str]:
        """
        Delivers a list of attributes names which contain geometric information.

        Returns:
            The list of geometry attribute names. Empty list when no geometry attributes at this class.
        """
        return [
            {% for attr in class_definition.geom_attributes %}
                "{{ attr.name }}"{% if not loop.last %}, {% endif %}
            {% endfor %}
        ]
{% endfor -%}
