{%- for coord_type in coord_types %}
@dataclass
class {{ coord_type.name }}Type:
    {% for attribute in coord_type.attributes %}
    {%- if attribute.reference_system %}
    # {{ attribute.reference_system }}
    {%- endif %}
    {{ attribute.name }}: {{ attribute.type }} = field(
        default=None,
        metadata={
            "type": "Element",
            "namespace": "{{ render_config['base_url'] }}/{{ package.name }}",
            "interlis": {
                "meta_attributes": {
                    {%- for item in attribute.meta_attributes %}
                        "{{ item.name }}": "{{ item.value }}",
                    {%- endfor %}
                }{%- if attribute.type_restrictions %},
                "type_restrictions": {{ attribute.type_restrictions }}
                {%- endif  %}
            }
        }
    )
    {%- endfor %}


@dataclass
class {{ coord_type.name }}:
    class Meta:
        namespace = "{{ render_config['base_url'] }}/{{ package.name }}"
    {%- if coord_type.doc %}
    """
    {{ "\n".join(coord_type.doc) }}
    """
    {%- endif %}
    COORD: {{ coord_type.name }}Type = field(
        default=None,
        metadata={
            "type": "Element",
            "namespace": "{{ render_config['base_url'] }}/{{ package.name }}",
            "interlis": {}
        }
    )
    @property
    def metadata(self) -> dict:
        return {
            "interlis": {
                "oid": "{{ coord_type.identifier }}",
                "kind": "Enumeration",
                "meta_attributes": {
                    {%- for item in coord_type.meta_attributes %}
                        "{{ item.name }}": "{{ item.value }}",
                    {%- endfor %}
                }
            }
        }

class {{ coord_type.name }}ARCType({{ coord_type.name }}Type):
    class Meta:
        namespace = "{{ render_config['base_url'] }}/{{ package.name }}"
    """
    This is an intermediate class which simplifies parsing of XTF later.
    """
    A1: float = field(
        default=None,
        metadata={
            "type": "Element",
            "namespace": "{{ render_config['base_url'] }}/{{ package.name }}",
            "interlis": {
                "meta_attributes": {},
                "type_restrictions": {}
            }
        }
    )
    A2: float = field(
        default=None,
        metadata={
            "type": "Element",
            "namespace": "{{ render_config['base_url'] }}/{{ package.name }}",
            "interlis": {
                "meta_attributes": {},
                "type_restrictions": {}
            }
        }
    )
    R: float = field(
        default=None,
        metadata={
            "type": "Element",
            "namespace": "{{ render_config['base_url'] }}/{{ package.name }}",
            "interlis": {
                "meta_attributes": {},
                "type_restrictions": {}
            }
        }
    )


class {{ coord_type.name }}ARC:
    class Meta:
        namespace = "{{ render_config['base_url'] }}/{{ package.name }}"
    """
    This is an intermediate class which simplifies parsing of XTF later.
    """
    ARC: {{ coord_type.name }}ARCType = field(
        default=None,
        metadata={
            "type": "Element",
            "namespace": "{{ render_config['base_url'] }}/{{ package.name }}",
            "interlis": {
                "meta_attributes": {},
                "type_restrictions": {}
            }
        }
    )

{% endfor -%}