{%- for line_type in line_types %}
@dataclass
{%- if line_type.attribute.name in ["POLYLINE", "DIRECTEDPOLYLINE"]  %}
class {{ line_type.name }}:
    class Meta:
        namespace = "{{ render_config['namespace_map']['geom'] }}"

    {%- if line_type.doc %}
    """
    {{ "\n".join(line_type.doc) }}
    """
    {%- endif %}
    {{ line_type.attribute.name }}: list[{{ line_type.attribute.type }}] = field(
        default_factory=list,
        metadata={
            "type": "Elements",
            "namespace": "{{ render_config['namespace_map']['geom'] }}",
            "name": "{{ line_type.attribute.name }}",
            "interlis": {
                "meta_attributes": {

                }
            }
        }
    )
{%- elif line_type.attribute.name in ["SURFACE", "AREA"] %}
class {{ line_type.name }}:
    class Meta:
        namespace = "{{ render_config['namespace_map']['geom'] }}"

    """
    {%- if line_type.doc %}
    {{ "\n".join(line_type.doc) }}
    {%- endif  %}
    """

    @dataclass
    class {{ line_type.name }}Boundary:
        class Meta:
            namespace = "{{ render_config['namespace_map']['geom'] }}"

        @dataclass
        class {{ line_type.name }}Polyline:
            class Meta:
                namespace = "{{ render_config['namespace_map']['geom'] }}"

            @dataclass
            class Segment:
                class Meta:
                    namespace = "{{ render_config['namespace_map']['geom'] }}"

                segments: list[{{ line_type.attribute.type }}Type|{{ line_type.attribute.type }}ARCType] = field(
                    default_factory=list,
                    metadata={
                        "type": "Elements",
                        "choices": ({
                            "name": "coord",
                            "type": {{ line_type.attribute.type }}Type,
                            "namespace": "{{ render_config['namespace_map']['geom'] }}",
                        },{
                            "name": "arc",
                            "type": {{ line_type.attribute.type }}ARCType,
                            "namespace": "{{ render_config['namespace_map']['geom'] }}",
                        } ),
                        "interlis": {
                            "meta_attributes": {

                            }
                        }
                    }
                )
            polyline: Segment | None = field(
                default=None,
                metadata={
                    "type": "Element",
                    "namespace": "{{ render_config['namespace_map']['geom'] }}",
                    "interlis": {"meta_attributes": {}},
                },
            )

        @dataclass
        class {{ line_type.name }}PolylineInterior({{ line_type.name }}Polyline):
            pass

        @dataclass
        class {{ line_type.name }}PolylineExterior({{ line_type.name }}Polyline):
            pass

        boundaries: list[{{ line_type.name }}Polyline] = field(
            default_factory=list,
            metadata={
                "type": "Elements",
                "choices": ({
                    "type": {{ line_type.name }}PolylineExterior,
                    "name": "exterior",
                    "namespace": "{{ render_config['namespace_map']['geom'] }}"
                },{
                    "type": {{ line_type.name }}PolylineInterior,
                    "name": "interior",
                    "namespace": "{{ render_config['namespace_map']['geom'] }}"
                }),
                "interlis": {
                    "meta_attributes": {

                    }
                }
            }
        )

    surface: {{ line_type.name }}Boundary | None = field(
        default=None,
        metadata={
            "type": "Element",
            "namespace": "{{ render_config['namespace_map']['geom'] }}",
            "interlis": {"meta_attributes": {}},
        }
    )
{%- endif  %}
    @property
    def metadata(self) -> dict:
        return {
            "interlis": {
                "oid": "{{ line_type.identifier }}",
                "kind": "LineType",
                "meta_attributes": {
                    {%- for item in line_type.meta_attributes %}
                        "{{ item.name }}": "{{ item.value }}",
                    {%- endfor %}
                }
            }
        }
{%- endfor %}
