{%- for line_type in line_types %}
{%- set doc=line_type.doc %}
{%- set class_name=line_type.name %}
{%- set attribute_name=line_type.attribute.name.lower() %}
{%- set coord_type_name=line_type.attribute.types[0] %}
{%- set namespace=render_config['namespace_map']['geom'] %}
{%- set meta_attributes=line_type.attribute.meta_attributes %}
{% if attribute_name in ["polyline", "directedpolyline"]  %}
{% if line_type.multi %}
{% macro render_line_type_polyline_multi() %}{% include "line_type_polyline_multi.jinja2" %}{% endmacro %}
{{ render_line_type_polyline_multi() }}
{% else %}
{% macro render_line_type_polyline() %}{% include "line_type_polyline.jinja2" %}{% endmacro %}
{{ render_line_type_polyline() }}
{% endif %}
{%- elif attribute_name in ["surface", "area"] %}
{% if line_type.multi %}
{% macro render_line_type_surface_multi() %}{% include "line_type_surface_multi.jinja2" %}{% endmacro %}
{{ render_line_type_surface_multi() }}
{% else %}
{% macro render_line_type_surface() %}{% include "line_type_surface.jinja2" %}{% endmacro %}
{{ render_line_type_surface() }}
{% endif %}
{%- endif  %}
    @property
    def metadata(self) -> dict:
        return {
            "interlis": {
                "oid": "{{ line_type.identifier }}",
                "kind": "LineType",
                "meta_attributes": {
                    {%- for item in line_type.meta_attributes %}
                        "{{ item.name }}": "{{ item.value }}",
                    {%- endfor %}
                },
                "max_overlap": {{ line_type.max_overlap }},
                "straights": {{ line_type.straights }},
                "arcs": {{ line_type.arcs }}
            }
        }
{%- endfor %}
