
@dataclass
class {{ class_name }}:
    class Meta:
        namespace = "{{ namespace }}"

    {%- if doc %}
    """
    {{ "\n".join(doc) }}
    """
    {%- endif %}
    {%- set namespace=namespace %}
    {%- set coord_type_name=coord_type_name %}
    {%- set segment_class_name="Segment" %}
    {% macro render_line_type_segment() %}{% include "line_type_segment.jinja2" %}{% endmacro %}
    {{ render_line_type_segment() | indent(4, true) }}

    polyline: {{ segment_class_name }} | None = field(
        default=None,
        metadata={
            "type": "Element",
            "namespace": "{{ namespace }}",
            "interlis": {
                "meta_attributes": {
                    {%- for item in meta_attributes %}
                        "{{ item.name }}": "{{ item.value }}",
                    {%- endfor %}
                }
            }
        }
    )
