from dataclasses import dataclass, field
from enum import Enum
from typing import Any, Union
from {{ module.library }} import INTERLIS
from {{ module.library }}.references import Ref, XmlBlBoxType, BinBlBoxType
{% for item in  module.imported_packages %}
from {{ module.library }} import {{ item }}
{% endfor %}
{%- for module_path, class_item, alias in module.related_class_imports %}
{%- if class_item and alias  %}
from {{ module.library }}.{{ module_path }} import {{ class_item }} as {{ alias }}
{%- elif class_item and not alias %}
from {{ module.library }}.{{ module_path }} import {{ class_item }}
{%- elif not class_item and not alias %}
import {{ module.library }}.{{ module_path }}
{%- endif %}
{%- endfor %}
{%- if module.doc %}
"""
{{ "\n".join(module.doc) }}
"""
{%- endif %}

metadata = {
    "interlis": {
        "meta_attributes": {
            {% for item in module.meta_attributes %}
                "{{ item.name }}": "{{ item.value }}",
            {% endfor %}
        }
    }
}

{%- set domain_types=module.type_definitions %}
{%- include "domain_types.jinja2" %}

{%- set enumerations=module.enumerations %}
{%- include "enumerations.jinja2" %}

{%- set coord_types=module.coord_types %}
{%- include "coord_types.jinja2" %}
{%- if module.line_types  %}
{%- endif %}
{%- set line_types=module.line_types %}
{%- include "line_types.jinja2" %}

{%- set classes=module.classes %}
{%- include "classes.jinja2" %}
{% if module.basket.choices %}
@dataclass
class {{ module.name }}TOPIC:
    class Meta:
        name = "{{ module.name }}"

    elements: list[Union[
        {% for choice in module.basket.choices %}
        {{choice.type_reference}},
        {% endfor %}
    ]] = field(
        default_factory=list,
        metadata={
            "type": "Elements",
            "choices": (
            {%- for choice in module.basket.choices %}
                {
                    "name": "{{ choice.name }}",
                    "type": {{ choice.type_reference }},
                    "namespace": "{{ render_config['base_url'] }}/{{ choice.model_name }}",
                },
            {%- endfor %}
            )
        }
    )
    bid: str|None = field(
        default=None,
        metadata={
            "type": "Attribute",
            "namespace": "{{ render_config['namespace_map']['ili'] }}",
        },
    )
    kind: str|None = field(
        default=None,
        metadata={
            "type": "Attribute",
            "namespace": "{{ render_config['namespace_map']['ili'] }}",
        },
    )
{% endif %}