
{%- for module_path, class_item, alias in library.related_class_imports %}
{%- if class_item and alias  %}
from {{ library.name }}.{{ module_path }} import {{ class_item }} as {{ alias }}
{%- elif class_item and not alias %}
from {{ library.name }}.{{ module_path }} import {{ class_item }}
{%- elif not class_item and not alias %}
import {{ library.name }}.{{ module_path }}
{%- endif %}
{%- endfor %}
from dataclasses import dataclass, field

@dataclass
class DataSection:
    class Meta:
        namespace = "{{ render_config['namespace_map']['ili'] }}"

    baskets: list[
        {{library.topic_choices|map(attribute='type_reference')|join('|') }}
    ] = field(
        default_factory=list,
        metadata={
            "type": "Elements",
            "choices": (
            {%- for choice in library.topic_choices %}
                {
                    "name": "{{ choice.name }}",
                    "type": {{ choice.type_reference }},
                    "namespace": "{{ render_config['base_url'] }}/{{ choice.model_name }}",
                },
            {%- endfor %}
            )
        }
    )

@dataclass
class Model:

    class Meta:
        namespace = "{{ render_config['namespace_map']['ili'] }}"

    name: str|None = field(default=None, metadata={"name": "NAME", "type": "Text"})


@dataclass
class ModelsType:
    choice: list[Model] = field(
        default_factory=list,
        metadata={
            "type": "Elements",
            "choices": (
                {"name": "model", "type": Model, "namespace": "{{ render_config['namespace_map']['ili'] }}"},
            )
        }
    )


@dataclass
class HeaderSection:
    class Meta:
        namespace = "{{ render_config['namespace_map']['ili'] }}"
    models: ModelsType = field(
        metadata={
            "name": "models",
            "type": "Element",
            "namespace": "{{ render_config['namespace_map']['ili'] }}"
        }
    )
    sender: str|None = field(default=None, metadata={"name": "sender", "type": "Element", "namespace": "{{ render_config['namespace_map']['ili'] }}"})
    version: str|None = field(default=None, metadata={"name": "version", "type": "Element", "namespace": "{{ render_config['namespace_map']['ili'] }}"})

@dataclass
class Transfer:
    class Meta:
        namespace = "{{ render_config['namespace_map']['ili'] }}"
        name = "transfer"

    headersection: HeaderSection = field(
        metadata={"name": "headersection", "type": "Element", "namespace": "{{ render_config['namespace_map']['ili'] }}"}
    )
    datasection: DataSection = field(
        metadata={"name": "datasection", "type": "Element", "namespace": "{{ render_config['namespace_map']['ili'] }}"}
    )
