class {{ class_item.Name }}:
    """
    {% for doc_item in class_item.Documentation -%}
    {% for line in doc_item.DocText.Text.split('\n') -%}
    {{ line.lstrip() }}
    {% endfor -%}
    {% endfor -%}
    Attributes:
        {% for attribute_item in class_item.AttrParent_backref -%}
            {{ attribute_item.Name }} ({{ render_type(attribute_item, [], context, index) }}): {% for doc_item in attribute_item.documentation  %}{{ ' '.join(doc_item.doc_text.text.split('\n')) }}{% endfor %}
        {% endfor -%}
    """
    {% for attribute_item in class_item.AttrParent_backref -%}
        {{ attribute_item.Name }}: ["{{render_type(attribute_item, imports, context, index)}}"]
    {% endfor -%}
