{%- for coord_type in coord_types %}
@dataclass
class {{ coord_type.name }}Type:
    {% for attribute in coord_type.attributes %}
    {%- if attribute.reference_system %}
    # {{ attribute.reference_system }}
    {%- endif %}
    {{ attribute.name }}: "{{ attribute.types|join(' | ') }} | None" = field(
        default=None,
        metadata={
            "type": "Element",
            "namespace": "{{ render_config['namespace_map']['ili'] }}",
            "interlis": {
                "meta_attributes": {
                    {%- for item in attribute.meta_attributes %}
                        "{{ item.name }}": "{{ item.value }}",
                    {%- endfor %}
                }{%- if attribute.type_restrictions %},
                "type_restrictions": {{ attribute.type_restrictions }}
                {%- endif  %}
            }
        }
    )
    {%- endfor %}


@dataclass
class {{ coord_type.name }}:
    class Meta:
        namespace = "{{ render_config['namespace_map']['ili'] }}"
    {%- if coord_type.doc %}
    """
    {{ "\n".join(coord_type.doc) }}
    """
    {%- endif %}
    coord: {{ coord_type.name }}Type | None = field(
        default=None,
        metadata={
            "type": "Element",
            "name": "COORD",
            "namespace": "{{ render_config['namespace_map']['ili'] }}",
            "interlis": {}
        }
    )
    @property
    def metadata(self) -> dict:
        return {
            "interlis": {
                "oid": "{{ coord_type.identifier }}",
                "kind": "Enumeration",
                "meta_attributes": {
                    {%- for item in coord_type.meta_attributes %}
                        "{{ item.name }}": "{{ item.value }}",
                    {%- endfor %}
                }
            }
        }


@dataclass
class {{ coord_type.name }}ARCType({{ coord_type.name }}Type):
    class Meta:
        namespace = "{{ render_config['namespace_map']['ili'] }}"
    """
    This is an intermediate class which simplifies parsing of XTF later.
    """
    a1: float | None = field(
        default=None,
        metadata={
            "type": "Element",
            "name": "A1",
            "namespace": "{{ render_config['namespace_map']['ili'] }}",
            "interlis": {
                "meta_attributes": {},
                "type_restrictions": {}
            }
        }
    )
    a2: float | None = field(
        default=None,
        metadata={
            "type": "Element",
            "name": "A2",
            "namespace": "{{ render_config['namespace_map']['ili'] }}",
            "interlis": {
                "meta_attributes": {},
                "type_restrictions": {}
            }
        }
    )
    r: float | None = field(
        default=None,
        metadata={
            "type": "Element",
            "name": "R",
            "namespace": "{{ render_config['namespace_map']['ili'] }}",
            "interlis": {
                "meta_attributes": {},
                "type_restrictions": {}
            }
        }
    )


@dataclass
class {{ coord_type.name }}ARC:
    class Meta:
        namespace = "{{ render_config['namespace_map']['ili'] }}"
    """
    This is an intermediate class which simplifies parsing of XTF later.
    """
    arc: {{ coord_type.name }}ARCType | None = field(
        default=None,
        metadata={
            "type": "Element",
            "name": "ARC",
            "namespace": "{{ render_config['namespace_map']['ili'] }}",
            "interlis": {
                "meta_attributes": {},
                "type_restrictions": {}
            }
        }
    )

{% endfor -%}
