{%- for line_type in line_types %}
@dataclass
{%- if line_type.attribute.name in ["POLYLINE", "DIRECTEDPOLYLINE"]  %}
class {{ line_type.name }}:
    class Meta:
        namespace = "{{ render_config['namespace_map']['ili'] }}"

    {%- if line_type.doc %}
    """
    {{ "\n".join(line_type.doc) }}
    """
    {%- endif %}
    @dataclass
    class Segment:
        class Meta:
            namespace = "{{ render_config['namespace_map']['ili'] }}"
        {%- if line_type.attribute.types[0] == 'Any' %}
        vertices: "list[{{ line_type.attribute.types[0] }}]" = field(
        {%- else %}
        vertices: "list[{{ line_type.attribute.types[0] }}Type | {{ line_type.attribute.types[0] }}ARCType]" = field(
        {%- endif %}
            default_factory=list,
            metadata={
                "type": "Elements",
                "choices": ({
                    "name": "COORD",
                    "type": {%- if line_type.attribute.types[0] == 'Any' %}Any{% else %}{{ line_type.attribute.types[0] }}Type{% endif %},
                    "namespace": "{{ render_config['namespace_map']['ili'] }}",
                },{
                    "name": "ARC",
                    "type": {%- if line_type.attribute.types[0] == 'Any' %}Any{% else %}{{ line_type.attribute.types[0] }}ARCType{% endif %},
                    "namespace": "{{ render_config['namespace_map']['ili'] }}",
                } ),
                "interlis": {
                    "meta_attributes": {

                    }
                }
            }
        )
    {{ line_type.attribute.name }}: Segment = field(
        default_factory=list,
        metadata={
            "type": "Element",
            "namespace": "{{ render_config['namespace_map']['ili'] }}",
            "interlis": {
                "meta_attributes": {}
            }
        }
    )
{%- elif line_type.attribute.name in ["SURFACE", "AREA"] %}
class {{ line_type.name }}:
    class Meta:
        namespace = "{{ render_config['namespace_map']['ili'] }}"

    """
    {%- if line_type.doc %}
    {{ "\n".join(line_type.doc) }}
    {%- endif  %}
    """

    @dataclass
    class {{ line_type.name }}BOUNDARY:
        class Meta:
            namespace = "{{ render_config['namespace_map']['ili'] }}"
            name = "SURFACE"

        @dataclass
        class {{ line_type.name }}POLYLINE:
            class Meta:
                namespace = "{{ render_config['namespace_map']['ili'] }}"

            @dataclass
            class Segment:
                class Meta:
                    namespace = "{{ render_config['namespace_map']['ili'] }}"

                vertices: "list[{{ line_type.attribute.types[0] }}Type | {{ line_type.attribute.types[0] }}ARCType]" = field(
                    default_factory=list,
                    metadata={
                        "type": "Elements",
                        "choices": ({
                            "name": "COORD",
                            "type": {{ line_type.attribute.types[0] }}Type,
                            "namespace": "{{ render_config['namespace_map']['ili'] }}",
                        },{
                            "name": "ARC",
                            "type": {{ line_type.attribute.types[0] }}ARCType,
                            "namespace": "{{ render_config['namespace_map']['ili'] }}",
                        } ),
                        "interlis": {
                            "meta_attributes": {

                            }
                        }
                    }
                )
            POLYLINE: Segment | None = field(
                default=None,
                metadata={
                    "type": "Element",
                    "namespace": "{{ render_config['namespace_map']['ili'] }}",
                    "interlis": {"meta_attributes": {}},
                },
            )

        BOUNDARY: list[{{ line_type.name }}POLYLINE] = field(
            default_factory=list,
            metadata={
                "type": "Elements",
                "choices": ({
                    "type": {{ line_type.name }}POLYLINE,
                    "name": "BOUNDARY",
                    "namespace": "{{ render_config['namespace_map']['ili'] }}"
                },),
                "interlis": {
                    "meta_attributes": {

                    }
                }
            }
        )

    SURFACE: {{ line_type.name }}BOUNDARY | None = field(
        default=None,
        metadata={
            "type": "Element",
            "namespace": "{{ render_config['namespace_map']['ili'] }}",
            "interlis": {"meta_attributes": {}},
        }
    )
{%- endif  %}
    @property
    def metadata(self) -> dict:
        return {
            "interlis": {
                "oid": "{{ line_type.identifier }}",
                "kind": "LineType",
                "meta_attributes": {
                    {%- for item in line_type.meta_attributes %}
                        "{{ item.name }}": "{{ item.value }}",
                    {%- endfor %}
                },
                "max_overlap": {{ line_type.max_overlap }},
                "straights": {{ line_type.straights }},
                "arcs": {{ line_type.arcs }}
            }
        }
{%- endfor %}
