from dataclasses import dataclass, field

@dataclass
class Ref:
    class Meta:
        namespace = "{{ render_config['namespace_map']['ili'] }}"
        name = "REF"
    ref: str = field(default=None, metadata={"type": "Attribute", "name": "REF"})

class BinBlBoxType(str):
    pass

class XmlBlBoxType(str):
    pass
