from dataclasses import dataclass, field

@dataclass
class Ref:
    class Meta:
        namespace = "{{ render_config['namespace_map']['ili'] }}"
        name = "REF"
    ref: str | None = field(default=None, metadata={"type": "Attribute", "name": "REF"})

class BinBlBox(bytes):
    pass

@dataclass
class BinBlBoxType:
    class Meta:
        namespace = "{{ render_config['namespace_map']['ili'] }}"
    BINBLBOX: BinBlBox = field(
        metadata={
            "type": "Element",
            "namespace": "{{ render_config['namespace_map']['ili'] }}",
        }
    )


class XmlBlBoxType(str):
    pass
