@startuml
left to right direction
{% for key in index -%}
    {% if isinstance(index[key], class_type) and index[key].Kind in ['Class', 'Structure'] -%}
        {% if index[key].Abstract %}abstract {% endif %}class {{ index[key].tid }}{
            {% for attr in index[key].AttrParent_backref -%}
            {{ attr.Name }} : {{ attr.Type_ref.ref.replace('.', '_').replace('.TYPE', '') }}
            {% endfor %}
        }
        {% if index[key].Super_ref -%}
            {{ index[key].Super.tid }} <|-- {{ index[key].tid }}
        {% endif -%}
    {% endif -%}
    {% if isinstance(index[key], class_type) and index[key].Kind == 'Association' and len(index[key].Association_backref) == 2 %}
        {{ index[key].Association_backref[0].tid }} "{{ render_multiplicity(index[key].Association_backref[0].Multiplicity.Multiplicity) }}" {% if index[key].Association_backref[0].Strongness == 'Comp' -%}*{% elif index[key].Association_backref[0].Strongness == 'Aggr' -%}o{%- endif %}--{% if index[key].Association_backref[1].Strongness == 'Comp' -%}*{% elif index[key].Association_backref[1].Strongness == 'Aggr' -%}o{%- endif %} "{{ render_multiplicity(index[key].Association_backref[1].Multiplicity.Multiplicity) }}" {{ index[key].Association_backref[1].tid }}
    {% endif %}
{%- endfor %}
@enduml